.wrapper {
    background: '../../Assets/dashboard.png';
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    top: 10px;
    left: center;
    height: 100px;
}


.tab{
    border-radius: 20px;
    background-color: rgb(10, 161, 199);
    height: 50px;
    left: 35%;
    position: fixed;
    padding: 10px 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la sombra y ajusta la posición vertical */
    display: flex;
    animation: fadeInUp 0.5s ease forwards; 
}


.tab-item{
    padding: 10px 15px;
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: rgb(10, 161, 199);
    height: 30px;
    margin-right: 10px; 
}

.content{
    height: 500px;
    overflow: auto;
    background:none;
}

.tab-item.active{
    border-color: black;
    background-color: rgb(3, 129, 188);
    color: #fff;
    border-radius: 5px;
}

.label {
    align-items: center;
    color: white;
    font-size: 16px;
}